{% extends 'board/base.html' %}

{% block content %}
    {% for p in posts %}
        <div class="card">
            <div class="card-img">
                {{p.photo}}
            </div>
            <div class="card-name">
                <p>{{p.name}}</p>
            </div>

            <div class="card-price">
                <p>{{p.price}} ₽</p>
            </div>

            <div class="card-description">
                <p>{{p.descrip}}</p>
            </div>

            <div class="card-position-date">
                <p>{{p.position}}</p>
                <p>{{p.date}}</p>
            </div>
        </div>
    {% endfor %}
{% endblock %}
