{% extends 'board/base.html' %}

{% block content %}
    {% for p in posts %}
        <div class="card">

            <div class="card-img">
                <img src="{{p.photo.url}}" style="height: 200px; width: 200px;">
            </div>

            <div class="card-name">
                <p><a href="{% url 'adv' p.pk %}">{{p.name}}</a></p>
            </div>

            <div class="card-price">
                <p>{{p.price}} ₽</p>
            </div>

            <div class="card-description">
                <p>{{p.descrip}}</p>
            </div>

            <div class="card-position-date">
                <p>{{p.position}}</p>
                <p>{{p.date}}</p>
            </div>

        </div>
    {% endfor %}
{% endblock %}
